.section-title{
    h3{
        font-size: 14px;
        font-family: $primary-font-family;
        color: $primary-color;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    .title{
        font-size: 48px;
        font-family: $primary-font-family;
        color: $black-color;
    }
}

