/*
* =========================================
*            VARIABLES 
* =========================================
*/

//* Brand Colors

$primary-color: #34448A;
$secondary-color: #DBE6EE;
$tertiary-color: #EFEAE3;

//* Neutral colors 

$white-color: #FFFFFF;
$black-color: #000000;

//* Fonts 

$primary-font-family: 'redHatExtraBold', sans-serif;
$secondary-font-family: 'redHatRegular', sans-serif;
$text-font-family: 'arialRegular', sans-serif;